
html{font-size: 32px;}
body{margin:0;min-width: 320px}
ul,ol{
    list-style: none;
    padding: 0;margin: 0;
}
*{font-weight:normal;padding: 0;margin: 0;
box-sizing: border-box}

a{text-decoration: none;color:inherit}

header{
    width: 100%;
    padding-top: .0357rem;
    height: 2.3rem;
    line-height:2.3rem;
    background: #2ca2f9;



}
.hearder_top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background: #ffffff;
    height: 148px;
    z-index: 2;
}
.logo{
    width: 4rem;
    height: 1.27857rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: .3143rem;
    background: url(../images/logo.png) no-repeat;
    background-size: 100%;
}
.down{
    width: 3.3rem;
    height: 1.143rem;
    line-height: 1.143rem;
    margin-left: .3143rem;
    border: 1px solid #fff;
    border-radius: .3571rem;
    text-align: center;
    color: #fff;
    font-size: .4871rem;
    display: inline-block;
    position: relative;
    top: -6px;
    left: -5px;
}
#app{
    padding-top: 124px;
}
.search{
    width: .8143rem;
    height: 1.2143rem;
    background: url(../images/search.png) no-repeat;
    background-size: 100%;
    position: absolute;
    top: .69rem;
    right: .7143rem;
    cursor: pointer;
}

main{
    width: 100%;
    background: #fff;
    height: 2.2143rem;
    line-height: 2rem;
    box-shadow: 0 0.1785rem 0.1785rem 0 #f4f4f4;

}
main ul{
    width: 100%;
    padding: 0 .7143rem;
    display: -webkit-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

main ul li{
    width: 20%;
    text-align: center;
    -webkit-box-flex: 1;
}
main ul li a{
    border-bottom: .2143rem solid #fff;
    display: block;
    color: #333;
    font-size: .67rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.swiper-container {
    width: 100%;/*banner容器的宽度*/
    height: 30%;/*banner容器的高度*/
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img{ max-width: 100%}

.list{padding:0 10px;}
.list li{
    width: 100%;
    height: 2.5714rem;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
}

.list li:after{
    content: "";
    display: inline-block;
    height: inherit;
    width: 1px;
    vertical-align: middle;
}
.list li span{
    font-size: 16px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}

.icon{
    width: .5357rem;
    height: .5814rem;
    display: inline-block;
    background: url(../images/download_icon_2.png) no-repeat;
    background-size: 100%;
    float:right;
    margin-top:30px
}